# ExamGuard AI Frontend Configuration

# The external URL pointing to the User/Student FastAPI backend.
VITE_USER_API_URL=http://localhost:8000

# The external URL pointing to the Admin FastAPI backend.
VITE_ADMIN_API_URL=http://localhost:8000/admin/api
